# Supabase Configuration
VITE_SUPABASE_URL=https://mmmthrlbikllhdupslrz.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_RWmN2aBG9Yneao2gEJZSvg_k-nEInzF

# Gemini API (Server-side)
GEMINI_API_KEY=
